/node_modules
/.vscode
/.aws
#comment this for deplayment

/src/config.ts
claudia.json
/src/util.ts
# /routes
# /bin
# /controllers
# /elasticsearch-mappings
# /factories
# /helpers
# /implementables
# /schemas
# app.js
# config.js
# util.js
# app.map.js
# config.map.js
# util.map.js
./dist
.DS_Store
.backend-0.0.0.zip.icloud